@import '../../../styles//variable.scss';
@import '../../../styles/common.scss';
.mainCarousel {
  display: flex;
  flex-direction: column;
  background-color: $backGround;
  .recommendList,
  .hangOverTopRank {
    display: inline-block;
    margin: 0 auto;
    font-weight: 800;
    font-size: 65px;
    margin-top: 100px;
  }
  video {
    width: 100vw;
    height: 370px;
    object-fit: cover;
  }
}
