@import '../../../styles//variable.scss';

.mainCarousel {
  display: flex;
  flex-direction: column;
  background-color: $backGround;
  .recommendList,
  .hangOverTopRank {
    display: inline-block;
    margin: 0 auto;
    font-weight: 800;
    font-size: 60px;
    margin-top: 90px;
  }
  video {
    width: 100vw;
    height: 370px;
    object-fit: cover;
  }
}
