@import '../../../styles/variable';
@import '../../../styles/common.scss';

.modalBox {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  // top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  section {
    display: flex;
    border-radius: 10px;
    overflow: hidden;

    .loginSignUpBox {
      height: 100%;
      width: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $backGround;
      .backLink {
        position: absolute;
        left: 40px;
      }
    }
  }
}
