@import '../../../../styles//variable.scss';

$img-height: 330px;
$carousel-margin-top: 50px;
$carousel-margin-right: 10px;
$carousel-padding: 10px;
$carousel-border: 1px;
$btn-top: $carousel-margin-top + $img-height/2 + $carousel-padding +
  $carousel-border;

.carouselList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  .carouseWrap {
    width: 1000px;
    overflow-x: hidden;

    .carousel {
      position: relative;
      display: flex;
      margin-bottom: 80px;

      .btnWrapper {
        .leftBtn {
          position: absolute;
          left: 40;
          top: $btn-top;
          transform: translateY(-50%);
          z-index: 5;
          cursor: pointer;
        }

        .rigthBtn {
          position: absolute;
          right: $carousel-margin-right;
          top: $btn-top;
          transform: translateY(-50%);
          z-index: 5;
          cursor: pointer;
        }
      }

      .cardWrap {
        display: flex;
        position: relative;
        transition: transform 500ms;
        margin-top: 10px;
        .cardList {
          display: flex;
          width: 240px;
          background-color: rgb(255, 248, 248);
          border: $carousel-border solid rgba(0, 0, 0, 0.05);
          border-radius: 20px;
          padding: $carousel-padding;
          margin: $carousel-margin-top $carousel-margin-right 10px 0px;
          box-shadow: 3px 3px 0px 0px lightgray;
          .cardTextWrap {
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            .cardBottomText {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: 40px;

              p {
                font-size: 20px;
                font-weight: 600;
                margin-top: 20px;
              }
              .alcohoName {
                font-size: 25px;
                font-weight: 700;
              }
              .alcoholCategory {
                margin-top: 70px;
                font-size: 20px;
                opacity: 0.5;
              }
              .alcoholCountry {
                font-size: 15px;
              }
              .alcoholPrice {
                font-size: 18px;
                font-weight: 700;
              }
            }
          }

          .carouseCardImg {
            width: 100px;
            height: $img-height;
          }

          &:hover {
            box-shadow: 5px 5px 5px 5px lightgray;
          }

          &:hover img {
            transform: translateY(-70px);
            transition-duration: 0.7s;
          }
        }

        @media screen and (max-width: 1110px) {
          .cardList {
            display: none;
          }
        }
      }
    }
  }

  .leftBtn,
  .rigthBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    background-color: $iconColor;
    opacity: 0.5;
    border: none;
    font-size: 20px;
    color: white;
  }
}
