@import '../../../../styles//variable.scss';

$img-height: 400px;
$carousel-margin-top: 50px;
$carousel-margin-right: 10px;
$carousel-padding: 25px;
$carousel-border: 1px;
$btn-top: $carousel-margin-top + $img-height/2 + $carousel-padding +
  $carousel-border;

.hangOverLank {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  .slideWrap {
    width: 1000px;
    overflow-x: hidden;

    .carousel {
      position: relative;
      display: flex;
      margin-bottom: 80px;

      .btnWrapper {
        .slideLeftBtn {
          position: absolute;
          left: 0;
          top: $btn-top;
          transform: translateY(-50%);
          z-index: 5;
          cursor: pointer;
        }

        .slideRigthBtn {
          position: absolute;
          right: $carousel-margin-right;
          top: $btn-top;
          transform: translateY(-50%);
          z-index: 5;
          cursor: pointer;
        }
      }

      ul {
        display: flex;
        position: relative;
        transition: transform 500ms;
        li {
          display: flex;
          width: 240px;
          background-color: rgb(254, 250, 245);
          border: $carousel-border solid rgba(0, 0, 0, 0.05);
          border-radius: 20px;
          padding: $carousel-padding;
          margin: $carousel-margin-top $carousel-margin-right 10px 0px;

          .cardTextWrap {
            display: flex;
            flex-direction: column;
            margin-left: 30px;

            h2 {
              margin: 70px 0px;
            }

            .cardBottomText {
              margin-top: 40px;

              p {
                font-size: 20px;
                font-weight: 600;
                margin-top: 20px;
              }
            }
          }

          img {
            width: 100px;
            height: $img-height;
          }

          &:hover {
            box-shadow: 5px 5px 5px 5px lightgray;
          }

          &:hover img {
            transform: translateY(-70px);
            transition-duration: 0.7s;
          }
        }

        @media screen and (max-width: 1110px) {
          li {
            display: none;
          }
        }
      }
    }
  }

  .slideLeftBtn,
  .slideRigthBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $iconColor;
    opacity: 0.6;
    border: none;
    font-size: 20px;
    color: white;
  }
}
