@import '../../styles/variable.scss';
@import '../../styles/common.scss';

$robo: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
* {
  font-family: $robo;
}

.detailArticle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  margin-bottom: -40px;
  padding: 0px 48px 0px 48px;
  background-color: #f7f3f0;

  .detailTopSection {
    display: flex;
    padding: 48px 0px 16px;
    margin: 0px 16px 32px;
    align-items: center;
    max-width: 1000px;

    .detailTopLeft {
      display: flex;
      flex-direction: column;
      padding: 0px 16px;
      max-width: 500px;

      .detailProductInfo {
        padding: 0px 16px;

        .detailH1 {
          display: flex;
          flex-direction: column;
          font-size: 26px;
          line-height: normal;

          .detailProductName {
            font-size: 32px;
            line-height: 48px;
            font-weight: 600;
            margin-bottom: 16px;
          }
        }
      }

      .detailProcuctRati {
        padding: 0px 16px;

        .detailRaitContainer {
          .detailRaitSummary {
            display: flex;

            .detailNum {
              font-size: 40px;
              line-height: 50px;
              font-weight: 400;
              margin-right: 8px;
            }

            .raitingBox {
              padding-right: 8px;
              max-width: 100%;
              text-align: center;

              .detailRaitBox {
                .imojiContainer {
                  .fulllBeer {
                    min-width: 10px;
                    min-height: 10px;
                  }
                }
              }
            }
          }
          .detailAddtoCart {
            margin-top: 10px;
          }
        }
      }
    }
  }
  .detailProductImg {
    width: 132px;
    height: 500px;
  }
}
