.detailAllArticle {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  margin: 0px auto 0px auto;
  .detailSummaryTable {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .origin {
    width: 100%;
    padding-top: 112px;
    padding-bottom: 114px;
    .originH2 {
      font-size: 28px;
      line-height: 40px;
      font-weight: 600;
    }
  }
}
