.newComment {
  margin-top: 10px;
  margin-bottom: 15px;

  .newCommnetSingle {
    display: flex;
    padding: 24px 32px;
    border: 1px solid black;
    border-radius: 5px;
    .newCommentReview {
      font-size: 24px;
      line-height: 40px;
    }
    .newCommentIcon {
      padding: 3px;
      text-align: center;
      width: 62px;
      height: 31px;
      background-color: antiquewhite;
      border-radius: 30px;
      img {
        width: 15px;
      }
    }
    .newCommentSpan {
      margin-left: 10px;
    }
  }
}
