.bigCardsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  min-height: 200px;
  flex-basis: 66%;
  justify-content: space-between;
  max-height: max-content;

  .container {
    .bigCardId {
      width: 480px;
      display: block;
      margin-top: 30px;
      margin-bottom: 15px;
      display: flex;
      flex-direction: row;
      border: 1px solid lightgray;
      overflow: visible;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 15px;
      height: 200px;

      &:hover {
        box-shadow: 5px 5px 5px 5px lightgray;
      }

      &:hover .cardBottleImg {
        transform: translateY(-20px);
        transition-duration: 1s;
      }

      .bottleContainer {
        margin-top: -25px;
        margin-left: 10px;
        .bottleImgContainer {
          .cardBottleImg {
            height: 220px;
          }
        }
      }
      .wineInfoContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .wineInfo {
          display: flex;
          flex-direction: column;
          margin-bottom: 70px;
          .originCounter {
            font-weight: bold;
            font-size: 20px;
          }
        }
      }
      .drinkRatingContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .drinkRating {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
