.price {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
}

.priceTitle {
  font-size: 22px;
  font-weight: bold;
}

.ex-in {
  margin-top: 30px;
  width: 350px;
  color: #000;
}
