@import '../../../../styles/variable.scss';
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  .slideWrap {
    width: 1000px;
    overflow-x: hidden;
    padding: 40px 0px;

    .carousel {
      display: flex;
      ul {
        display: flex;
        li {
          display: flex;
          width: 250px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 30px;

          img {
            height: 330px;
          }
          &:hover {
            box-shadow: 5px 5px 5px 5px lightgray;
          }

          &:hover img {
            transform: translateY(-50px);
            transition-duration: 0.5s;
          }
        }
      }
    }
  }
  .slideLeftBtn,
  .slideRigthBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $iconColor;
    border: none;
  }
}
