@import '../../../../styles/variable.scss';

.hangOverLank,
.randomLank {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  .slideWrap {
    width: 1000px;
    overflow-x: hidden;
    .hangOverTopLank {
      font-size: 50px;
      font-weight: 700;
    }
    .carousel {
      display: flex;

      ul {
        display: flex;
        position: relative;

        li {
          display: flex;
          width: 240px;
          background-color: rgb(254, 250, 245);
          border: 1px solid rgba(0, 0, 0, 0.05);
          border-radius: 20px;
          padding: 25px;
          margin: 50px 10px 10px 0px;

          .cardTextWrap {
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            h2 {
              margin: 70px 0px;
            }
            .cardBottomText {
              margin-top: 40px;
              p {
                margin-top: 20px;
              }
            }
          }
          img {
            width: 100px;
            height: 400px;
          }
          &:hover {
            box-shadow: 5px 5px 5px 5px lightgray;
          }

          &:hover img {
            transform: translateY(980px);
            transition-duration: 0.7s;
          }
        }
        @media screen and (max-width: 1110px) {
          li {
            display: none;
          }
        }
      }
    }
  }
  .slideLeftBtn,
  .slideRigthBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $iconColor;
    opacity: 0.6;
    border: none;
    margin-top: 75px;
    font-size: 20px;
    color: white;
  }
  .slideLeftBtn {
    margin-right: 10px;
  }
}
